*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

body{
  padding: 60px;
  background-color: rgb(79, 95, 158, 0.7);
}

p{
  text-transform: capitalize;
  font-weight: 206px;  
}

form{
  display: flex;
  align-content: center;
  justify-content: center;
}

input{
  width: 20%;
  font-size: 1.2rem;
  color: gray;
  
}

hr{
  width: 1000px;
}






h2{
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  
}

h3{
  text-transform: capitalize;
  color: white;
  font-size: 30px
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}







.card{
  
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  background-color: white;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}



